.icon{
    width: 20px;
    height: 23px;
}
.icon--fade{
    opacity: .8;
}
.icon--small{
    width: 18px;
    height: 18px;
}

.icon--primary{
    fill: $color-borders;
}

.icon--white{
    fill: #fff;
}
.icon--black{
    fill: #000;
}