$color-headings:rgb(32, 18, 58); //hero bg,headings
$color-button:rgb(2, 80, 187);
$color-links:rgb(31, 32, 51);
$color-body:rgb(66, 66, 90);
$footer-bg:rgb(249, 249, 250);

// $color-body:#918ca4;
$color-borders:#ccc;
$border-raduis:30px;


$font-stack:Inter,Helvetica, sans-serif;